---
layout: default
---

    <section class="section section__a block-colour">

      <div class="title column">
        <h1 class="title__text block-colour image reverse-text">
          <a href="{{ page['map url'] }}" target="_blank">
            {{ page['address text'] | markdownify }}
        </a>
        </h1>
      </div><!-- title -->

      {% assign column_1 = site.tenants | where: 'column', 1 | sort: position %}
      {% include tenant.html tenants=column_1 %}

      {% assign column_2 = site.tenants | where: 'column', 2 | sort: position %}
      {% include tenant.html tenants=column_2 %}

      {% assign column_3 = site.tenants | where: 'column', 3 | sort: position %}
      {% include tenant.html tenants=column_3 %}

    </section><!-- section__a -->

    {% include bookings.html %}
